.boxSix{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 650px;
    box-shadow: 4px 4px 15px gray;
    margin: 50px 0 50px 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.upperImage{
    display: flex;
     margin-right: 90px;
}
.lowerImage{
    display: flex;
    margin-left: 90px;
}

/* Outer Hexagon Border */
.hexagon {
  width: 140px;             /* size of hexagon */
  height: 140px;
  aspect-ratio: 1/1;
  border: 3px solid gray; /* border color like screenshot */
  clip-path: polygon(
    50% 0%, 93% 25%, 
    93% 75%, 50% 100%, 
    7% 75%, 7% 25%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;  /* no fill, border only */
  padding: 20px;            /* space between border & image */
  margin: 20px 40px 20px 40px;
}

/* Image/Icon inside hexagon */
.hexagon img {
  width: 100px;  /* adjust icon size */
  height: auto;
}
.boxSix p{
  color: gray;
  margin-top: -10px;
}
.boxSix h2{
  color: #161753;
}

.boxSevenOuter{
   width: 100%;
   height: 450px;
   background-color: #5c5ef3;
   padding-top: 60px;
}
.boxSeven{
  width: 95%;
  height: 90%;
  background-color: white;
  border-radius: 25px;
  margin-left: 35px;
  padding: 5px;
}

.text p{
  width: 70%;
  color: gray;
  font-size: 1.25rem;
  padding-left: 3px;
}

.text h2{
  width: 40%;
  padding-left: 10px;
  font-size: 2rem;
  font-weight: 900;
}

.space{
  width: 10%;
}
.text{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50%;
}

.line{
  width: 1px;
  height: 150px;
  background-color: gray;
}

.blockimg{
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockimg img{
  height: 70px;
  width: 70px;
  margin: 20px;
}

.nextGen{
  width: 90%;
  margin: 60px 0 50px 5%;
  border-radius: 25px;
  box-shadow: 0 10px 15px 6px #0000001a, 0 16px 53px 16px #0000001a;
  height: 600px;
}

.Genimg{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: white;
  padding-left: 30px;
}

.Genimg_tracker{
  display: flex;
  gap: 0;
  align-items: center;
  height: var(--height);
  animation: slide 50s linear infinite;
  will-change: transform;
}
.Genimg:hover .Genimg_tracker{
  animation-play-state: paused;
}

@keyframes slide{
  0% {transform: translateX(0);}
  100%{transform: translateX(-175%);}
}

#Genimg{
  height: 280px;
  width: 20%;
  margin: 0 20px 0 20px;
  flex: 0 0 auto;
  display: block;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 6px black;
}

#Genimg h2{
  color: white;
  font-size: 1.7rem;
  margin-left: 4%;
  opacity: 1;
}
.textes{
  background-color: black;
  height: 80%;
  opacity: 0.75;
  width: 100%;
  margin-top: 220px;
  border-radius: 5px;
}
.textes p{
 font-size: 1.25rem;
 color: white;
}

.agriculture{
  background-image: url("./assets/agriculture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.assetManage{
  background-image: url("./assets/asset-management.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.logistics{
  background-image: url("./assets/logistics.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.healthcare{
  background-image: url("./assets/healthcare.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.fintech{
  background-image: url("./assets/fintech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.realEstate{
  background-image: url("./assets/real-estate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.retail{
  background-image: url("./assets/retail.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.fitness{
  background-image: url("./assets/fitness.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.travel{
  background-image: url("./assets/travel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.warehouseManage{
  background-image: url("./assets/warehouse-management.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.entertain{
  background-image: url("./assets/entertainment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.gaming{
  background-image: url("./assets/gaming.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.testment{
  background-color: #5658da;
  width: 98%;
  height: 290px;
  margin: 20px;
  padding: 4% 0 2% 0.5%;
}
.innerTest{
  width: 95%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 2%;
  background-color: white;
  border-radius: 25px;
  font-weight: 900;
  color: rgb(0, 0, 75);
}
#testment{
  color: #5c5ef3;
}

.tests{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: white;
  padding-left: 30px;
}
.tests-tracker{
  display: flex;
  gap: 40px;
  align-items: center;
  height: var(--height);
  animation: slides 50s linear infinite;
  will-change: transform;
}

.tests img{
 height: 100px;
  width: 10%;
  margin: 0 20px 0 20px;
  flex: 0 0 auto;
  display: block;
  object-fit: contain;
  box-shadow: 5px 5px 5px gainsboro;
  border-radius: 5px;
}

.tests:hover .tests-tracker{
  animation-play-state: paused;
}

@keyframes slides{
  0% {transform: translateX(0);}
  100%{transform: translateX(-140%);}
}

.brands{
  width: 95%;
  align-items: center;
  text-align: center;
  margin-left: 3%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 500px;
  box-shadow: 0 10px 15px 6px #0000001a, 0 16px 53px 16px #0000001a;
  border-radius: 25px;
}

.brandOne{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.brandOne h2{
  font-size: 2rem;
  font-weight: 900;
  color: #161753;
}
.brandThree{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: white;
  padding-left: 30px;
}
.brand3-tracker{
   display: flex;
  gap: 40px;
  align-items: center;
  height: var(--height);
  animation: brand3 50s linear infinite;
  will-change: transform;
}
.brandThree img{
  height: 80px;
  width: 10%;
  margin: 0 20px 0 20px;
  flex: 0 0 auto;
  display: block;
  object-fit: contain;
  border-radius: 5px;
}
@keyframes brand3{
  100% {transform: translateX(50%);}
  0%{transform: translateX(0%);}
}

.brandFour{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: white;
  padding-left: 30px;
}

.brand4-tracker{
  display: flex;
  gap: 40px;
  align-items: center;
  height: var(--height);
  animation: brand4 50s linear infinite;
  will-change: transform;
}
.brandFour img{
   height: 80px;
  width: 10%;
  margin: 0 20px 0 20px;
  flex: 0 0 auto;
  display: block;
  object-fit: contain;
  border-radius: 5px;
}

@keyframes brand4{
  0% {transform: translateX(0);}
  100%{transform: translateX(-100%);}
}

.excellence{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  height: 550px;
  margin-left: 2%;
  margin-bottom: 50px;
  box-shadow:  0 10px 15px 6px #0000001a, 0 16px 53px 16px #0000001a;
  padding-left: 30px;
  border-radius: 25px;
  font-size: 1.2rem;
}

.excellenceLower{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  height: 90%;
}
.excellence1{
  width: 55%;
  font-size: 1.2rem;
  color: rgb(77, 76, 76);
  margin-top: -60px;
}
.excellence1 button{
  width: 37%;
  height: 50px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  background-color: #1887c9;
  border: none;
}
.excellence2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  text-align: center;
  margin-left: 5%;
}
.y{
  height: 90px;
  border: 0.2px solid gray;
}
.div2{
  height: 60%;
}

.excellence2 h2{
  color: #1887c9;
  font-size: 2.7rem;
  font-weight: 900;
}
.div1{
  height: 60%;
  width: 20%;
}

.success{
  background: linear-gradient(135deg, #0e0f3a 0%, #3739bd 100%);
  color: white;
  width: 95%;
  height: 250px;
  margin-left: 2.5%;
  margin-bottom: 30px;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 20px;
}
.success h2{
  font-size: 2.2rem;
  font-weight: 900;
}
.success p{
  width: 60%;
  font-size: 1.5rem;
  color: gainsboro;
}
.success button{
  width: 15%;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 900;
  background-color: #1887c9;
  color: white;
}